{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Trey Clark</h1>
    <p class="lead">Trey is an IT professional with experience in both public and private sector industries. With knowledge of Microsoft Azure, Windows Virtual Desktop, and a variety of cloud software
    he has the knowledge needed for todays modern infrastruture. With running workloads in the cloud comes security concerns. Don't let these keep you up at night. Trey has the knowledge needed to help
    secure your cloud infrastructure to keep your data safe and sound, so that you can sleep peacefully.</p>
    <!--p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></!--p-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>IaaS</h2>
        <p>
            With experience building and supporting Infrastracture as a Service deployments, Trey can assist you with moving your aging infrastructure to the robust, modern, and ever growing
            cloud.
        </p>
        <!--p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p-->
    </div>
    <div class="col-md-4">
        <h2>Cybersercurity</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <!--p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p-->
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>Utilizing the power of Microsofts IaaS offering, find easy intergartion with Office 365, Windows 10, and more. </p>
        <!--p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p-->
    </div>
</div>

{% endblock %}
